* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    border: 3px solid green;
    min-height: 100vh;
    display: flex;
    gap: 1em;
}

.site {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.site > * {
    margin: 1em;
    padding: 1em;
    border: 2px solid blue;
}

.main {
    flex: 1 1 auto
}


