* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    max-width: 66ch;
    margin: 2em auto;
    border: 2px solid blue;
}

section > * {
    border: 2px solid black;
    padding: 1em;
    margin: 1.5em;
    text-align: center;
}