.flex-container {
    display: flex;
    border: 2px solid black;
    width: 350px;
    height: 200px;
    padding: 1em;
    align-items: flex-start;
    flex-wrap: wrap; 
}

.flex-item {
    border: 2px solid black;
    background: #eee;
    padding: 1em;
}

.flex-start {
    align-content: flex-start;
}

.center {
    align-content: center;
}

.flex-end {
    align-content: flex-end;
}

.space-between {
    align-content: space-between;
}

.space-around {
    align-content: space-around;
}

