body {
    border: solid;
    margin: 1em;
    padding: 1em;
}

h1 + ul li {
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
    text-decoration-style: double;
    margin-bottom: 1em;
}

h2 + ul li {
    text-decoration-line: line-through;
    text-decoration-color: red;
}