body {
    background-color: antiquewhite;
}

h1 {
    color: red;
}

p {
    font-size: 24px;
}

.higlight {
    background-color: yellow;
}

#secondary-title {
    color: green    ;
}

#special-paragraph {
    font-style: italic;
}

ul {
    list-style-type: square;
}

li {
    color: blue;
}