@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@media all {
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    body {
        padding: 2em;
        font: 14px/1.5 Lato, sans-serif;
    }

    p {
        padding-bottom: 1.5em;
    }

    h2 {
        margin-top: 0.5em;
    }

    pre {
        background-color: #EEE;
        border-radius: 0.3em;
        padding: 0.2em 0.4em;
        color: #333;
    }

    body::before {
        background: #369;
        color: #EEE;
        padding: 1em 1.4em;
        margin-bottom: 1.5em;
        border-radius: 0.3em;
    }
}

@media (hover: none) {
    body::before {
        display: block;
        content: "This device doesn't support hover";
    }
}

@media (orientation: landscape) {
    body::before {
        display: block;
        content: 'The device is in landscape orientation';
    }
}

@media (orientation: portrait) {
    body::before {
        display: block;
        content: 'The device is in portrait orientation';
        background: orange;
    }
}

@media (width: 600px) {
    body::before {
        display: block;
        content: 'The viewport width is 600px';
        background: orange;
    }
}

@media (height: 800px) {
    body::before {
        display: block;
        content: 'The viewport height is 800px';
        background: orange;
    }
}